@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #e3f2fd;
}
nav {
    width: 100%;
    height: 5rem;
    background: #8a6cff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #7756fc;
}
nav h1, nav h2 {
    margin: 0 50px;
    font-size: 2.5rem;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-weight: 500;
    color: #fff; 
    text-shadow: 1.5px 1.5px 2px #270b98;
}
nav h1 {
    border-radius: 50%;
    box-shadow: 1px 1px 2px #270b98;
    width: 60px;
    height: 60px;
    background: #ebf6fe;
    border: 3px solid #1f0979;
    color: #270b98;
    text-align: center;
    text-shadow: 1px 1px 2px #270b98;
}
.container {
    padding-top: 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container .color {
    list-style: none;
    margin: 13px;
    padding: 7px;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(52, 87, 220, 0.08);
    transition: transform 0.3s ease;
}
.container .color:active {
    transform: scale(0.95);
}
.color .rect-box {
    width: 185px;
    height: 188px;
    border-radius: 5px;
    background: #8a6cff;
}
.color:hover .rect-box {
    filter: brightness(106%);
}
.color .hex-value {
    display: block;
    color: #444;
    margin: 12px 0 8px;
    font-size: 1.15rem;
    font-weight: 500;
    text-transform: uppercase;
}
.refresh-btn {
    position: fixed;
    left: 50%;
    bottom: 40px;
    outline: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 12px 20px;
    background: #8a6cff;
    border: 2px solid #fff;
    box-shadow: 0 10px 20px rgba(52, 87, 220, 0.2);
    transform: translateX(-50%);
}

@media screen and (max-width: 510px) {
    nav h1, nav h2 {
        margin: 0 30px;
        font-size: 1.9rem;
    }
    nav h1 {
        border-radius: 50%;
        box-shadow: 1px 1px 2px #270b98;
        width: 50px;
        height: 50px;
        justify-content: space-between;
        background: #ebf6fe;
        border: 3px solid #1f0979;
        color: #270b98;
        text-align: center;
        text-shadow: 1px 1px 2px #270b98;
    }
    .container { 
        padding-top: 30%;
        margin: 10px;
    }
    .container .color {
        margin: 8px;
        padding: 5px;
    }
    .color .rect-box {
        width: 145px;
        height: 148px;
    }
    .color .hex-value {
        font-size: 1.05rem;
    }
    
}